<section layout="row" flex ng-controller="LeftCtrl">
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
      <md-toolbar class="md-theme-light">
        <div layout="row">
            <div flex>
                <div class="md-toolbar-tools">Menu</div>
            </div>
            <div flex="20"> 
            <md-button
                class="md-toolbar-tools md-icon-button"
                aria-label="Settings" 
                ng-click="close()"
                style="margin-left: auto;">
                <i class="material-icons" style="height:0px">close</i>
            </md-button>
        </div>
    </div>
      </md-toolbar>

      <md-content >
        <md-list-item ui-sref="dashboard">
          <p>Dashboard</p>
          <i class="material-icons sidebaricon">dashboard</i>
        </md-list-item>
        <md-list-item ui-sref="usermanagement">
          <p>User Management</p>
          <i class="material-icons sidebaricon">group_add</i>
        </md-list-item>
      </md-content>
    </md-sidenav>
  </section>

</div>